{% extends '_base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
{% block page_title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}
    <div id="page-content">
        {% translate 'Password Reset' as header_name_for_password_reset %}
        {% include 'topheader.html' with header_name=header_name_for_password_reset %}
        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="row">
                <center><img src="{% static 'images/forgot-password.jpg' %}" height="250" width="250"/></center>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 box mt-2 mt-lg-5">
                    <h2 class="h4 text-uppercase mb-3">{% trans 'Password Reset' %}</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn rounded me-auto mt-3">{% trans 'Confirm' %}</button>
                    </form>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
{% endblock %}
</html>