{% extends '_base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
{% block page_title %}{% trans 'email confirmation' %}{% endblock %}

{% block content %}
    <div id="page-content">
        {% translate 'email confirmation' as header_name_for_password_reset_done %}
        {% include 'topheader.html' with header_name=header_name_for_password_reset_done %}
        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="row">
                <center><img src="{% static 'images/happy-icon.png' %}" width="150" height="150"/></center>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 box mt-2 mt-lg-5">
                    <center>
                        <h2 class="h4 text-uppercase mb-10">
                            <p>یک ایمیل جهت بازنشانی رمز عبور شما برایتان ارسال کردیم,اگر ارسال نشد فولدر اسپم خود را چک کنید </p>
                        </h2>
                    </center>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
{% endblock %}
</html>