<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="rtl">
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}cart detail{% endblock %}</title>
</head>
<body>
{% block content %}

    <main>
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height-2"
             data-background="{% static 'img/banner/page-banner-4.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">سبد شما</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                    <nav class="breadcrumb-trail breadcrumbs">
                                        <ul class="breadcrumb-menu">
                                            <li class="breadcrumb-trail">
                                                <a href="index.html"><span>خانه</span></a>
                                            </li>
                                            <li class="trail-item">
                                                <span>سبد خرید</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- cart-area-start -->
        <section class="cart-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="product-thumbnail">تصاویر</th>
                                        <th class="cart-product-name">محصول</th>
                                        <th class="product-price">قیمت واحد</th>
                                        <th class="product-quantity">تعداد</th>
                                        <th class="product-subtotal">مجموع</th>
                                        <th class="product-remove">حذف</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <td class="product-thumbnail"><a
                                                    href="{% url 'cloth_detail' item.cloth_obj.id %}"><img
                                                    src="{{ item.cloth_obj.cover.url }}" alt=""></a></td>
                                            <td class="product-name"><a
                                                    href="{% url 'cloth_detail' item.cloth_obj.id %}">{{ item.cloth_obj.title }}</a>
                                            </td>
                                            <td class="product-price"><span
                                                    class="amount">ت{{ item.cloth_obj.price }}</span></td>
                                            <td class="product-quantity">
                                                <form action="{% url 'cart:cart_add' item.cloth_obj.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <div class="cart-plus-minus"><input
                                                                                        class="quantity-input"
                                                                                        name="quantity"
                                                                                        id="qty-1"
                                                                                        value={{ item.quantity }}
                                                                                                min="1">
                                                        <div class="dec qtybutton">-</div>
                                                        <div class="inc qtybutton">+</div>
                                                        {{ item.update_quantity_form.inplace }}
                                                    </div>
                                                    <button class="tp-btn-h1 mt-3" name="update_cart" type="submit">
                                                        بروزرسانی تعداد
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="product-subtotal"><span
                                                    class="amount">ت{{ item.total_price }}</span></td>
                                            <td class="product-remove"><a
                                                    href="{% url 'cart:cart_remove' item.cloth_obj.id %}"><i
                                                    class="fa fa-times"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <a class="tp-btn-h1" href="checkout.html">تسویه حساب</a>
                                        <div class="coupon2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-md-5">
                                    <div class="cart-page-total">
                                        <h2>مجموع سبد</h2>
                                        <ul class="mb-20">
                                            <li>ت{{ cart.get_total_price }} <span>جمع</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart-area-end -->

        <!-- cta-area-start -->
        <section class="cta-area d-ldark-bg pt-55 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item cta-item-d mb-30">
                            <h5 class="cta-title">دنبال کنید</h5>
                            <p>ما یکپارچه سازی، بازاریابی و ردیابی وب سایت رسانه های اجتماعی شما را آسان می کنیم.</p>
                            <div class="cta-social">
                                <div class="social-icon">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                                    <a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">ثبت نام خبرنامه</h5>
                            <p>به بیش از 60000 مشترک بپیوندید و هر شنبه یک کوپن تخفیف جدید دریافت کنید.</p>
                            <div class="subscribe__form">
                                <form action="#">
                                    <input type="email" placeholder="آدرس ایمیل شما...">
                                    <button>اشتراک</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">دانلود اپ</h5>
                            <p>اپلیکیشن DukaMarket اکنون در اپ استور و گوگل پلی در دسترس است. اکنون آن را دریافت
                                کنید.</p>
                            <div class="cta-apps">
                                <div class="apps-store">
                                    <a href="#"><img src="{% static 'img/brand/app_ios.png' %}" alt=""></a>
                                    <a href="#"><img src="{% static 'img/brand/app_android.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- cta-area-end -->

    </main>
{% endblock %}
</html>