<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fa" dir="rtl">
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load comment_tags %}
{% load persian_number_translate %}
{% load humanize %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}Cloths List{% endblock %}</title>
</head>
<body dir="rtl">
{% block content %}
<!-- Content -->
  <div id="content"> 
    
    <!-- New Arrival -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>new arrival</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
      </div>
      
      <!-- New Arrival -->
      <div class="arrival-block"> 
                {% for cloth in cloths %}
                <!-- Item -->
                <div class="item"> 
                  <!-- Images --> 
                  <img class="img-1" src="{{ cloth.cover.url }}" alt=""> <img class="img-2" src="{{ cloth.cover.url }}" alt=""> 
                  <!-- Overlay  -->
                  <div class="overlay"> 
                    <!-- Price --> 
                    <span class="price"><small>$</small>{{ cloth.price|intcomma:False|translate_number }}</span>
                    <div class="position-center-center"> <a href="{% static 'images/item-img-1-1.jpg' %}" data-lighter><i class="icon-magnifier"></i></a> </div>
                  </div>
                  <!-- Item Name -->
                  <div class="item-name"> <a href="#.">{{cloth.title}}</a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </section>        
{% endblock %}  
</body>
</html>