<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="rtl">
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}{{ cloth.title }} detail{% endblock %}</title>
</head>
<body>
{% block content %}

    <!-- product-details-start -->
    <div class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="product__details-nav d-sm-flex align-items-start">
                        <div class="product__details-thumb">
                            <div class="tab-content" id="productThumbContent">
                                <div class="tab-pane fade show active" id="thumbOne" role="tabpanel"
                                     aria-labelledby="thumbOne-tab">
                                    <div class="product__details-nav-thumb w-img">
                                        <img src="{% static 'img/product/nav/product-nav-big-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbTwo" role="tabpanel" aria-labelledby="thumbTwo-tab">
                                    <div class="product__details-nav-thumb w-img">
                                        <img src="assets/img/product/nav/product-nav-big-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbThree" role="tabpanel"
                                     aria-labelledby="thumbThree-tab">
                                    <div class="product__details-nav-thumb w-img">
                                        <img src="assets/img/product/nav/product-nav-big-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-3">
                    <div class="product__details-content">
                        <h6> {{ cloth.title }}</h6>
                        <div class="pd-rating mb-10">
                            <span>({{ cloth.comments.count }} نظر)</span>
                        </div>
                        <div class="price mb-10">
                            <span>{{ cloth.price }} تومان</span>
                        </div>
                        <div class="features-des mb-20 mt-10">
                            <ul>
                                <li><a href="product-details.html"><i class="fas fa-circle"></i>{{ cloth.description }}
                                </a></li>
                            </ul>
                        </div>
                        <div class="product-stock mb-20">
                            <h5>موجودی: <span> 940 موجود</span></h5>
                        </div>
                        <div class="cart-option mb-15">
                            <div class="product-quantity mr-20">
                                <div class="cart-plus-minus p-relative"><input type="text" value="1">
                                    <div class="dec qtybutton">-</div>
                                    <div class="inc qtybutton">+</div>
                                </div>
                            </div>
                            <a href="cart.html" class="cart-btn">افزودن به سبد</a>
                        </div>
                        <div class="product-tag-area mt-15">
                            <div class="product_info">
                                    <span class="posted_in">
                                        <span class="title">دسته بندی :</span>
                                        <a href="#">{{ cloth.season }}</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-end -->

    <!-- product-details-des-start -->
    <div class="product-details-des mt-40 mb-60">
    <div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="product__details-des-tab">
                <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                type="button" role="tab" aria-controls="review" aria-selected="false">نظرات ({{ cloth.comments.count }})
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="product__details-review">
            <div class="row">
                <div class="col-xl-8">
                    <div class="review-des-infod">
                        <h6>{{ cloth.comments.count }} نظر برای "<span>{{ cloth.title }}</span>"</h6>
                        {% for comment in cloth.comments.all %}
                            <div class="container">
                                <div class="row">
                                    <div class="review-details-des">
                                        <div class="author-image mr-15">
                                            <a href="#"><img src="assets/img/author/author-sm-1.jpg" alt=""></a>
                                        </div>
                                        <div class="review-details-content">
                                            <div class="name-date mb-30">
                                                <h6> {{ comment.author }} <span> {{ comment.datetime_created }}</span>
                                                </h6>
                                            </div>
                                            <p>{{ comment.body }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-comment ">
                                    <div class="comment-title mb-20">
                                        <h3>ارسال نظر</h3>
                                    </div>
                                    <div class="comment-input-box">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-xxl-12">
                                                    <textarea placeholder="نظر شما"
                                                              class="comment-input comment-textarea"></textarea>
                                                </div>
                                                <div class="col-xxl-12">
                                                    <div class="comment-submit">
                                                        <button type="submit" class="cart-btn">ارسال</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-des-end -->

{% endblock %}
</html>