<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="rtl">
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load jalali_tags %}
{% load persian_number_translate %}
{% load humanize %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}{{ cloth.title }} detail{% endblock %}</title>
</head>
<body>
{% block content %}

    <!-- product-details-start -->
    <div class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="product__details-nav d-sm-flex align-items-start">
                        <div class="product__details-thumb">
                            <div class="tab-content" id="productThumbContent">
                                <div class="tab-pane fade show active" id="thumbOne" role="tabpanel"
                                     aria-labelledby="thumbOne-tab">
                                    {% if cloth.cover %}
                                        <div class="product__details-nav-thumb w-img">
                                            <img src="{{ cloth.cover.url }}" alt="" width="500" height="500">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-3">
                    <div class="product__details-content">
                        <h6> {{ cloth.title }}</h6>
                        <div class="pd-rating mb-10">
                            <span>({{ cloth.comments.all|only_active_comments|length|translate_number }} نظر)</span>
                        </div>
                        <div class="price mb-10">
                            <span>{{ cloth.price|intcomma:False|translate_number }} تومان</span>
                        </div>
                        <div class="features-des mb-20 mt-10">
                            <ul>
                                <li><p href="product-details.html"><i class="fas fa-circle"></i>{{ cloth.description|safe }}
                                </p></li>
                            </ul>
                        </div>
                        <div class="cart-option mb-15">
                            <form action="{% url 'cart:cart_add' cloth.id %}" method="post">
                                {% csrf_token %}
                                <div class="product-quantity mr-20">
                                    <div class="cart-plus-minus p-relative"><input type="text" value="1"
                                                                                   name="quantity">
                                        <div class="dec qtybutton">-</div>
                                        <div class="inc qtybutton">+</div>
                                    </div>
                                    <button class="tp-btn-h1 mt-3" name="update_cart" type="submit">
                                        Add to cart
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="product-tag-area mt-15">
                            <div class="product_info">
                                    <span class="posted_in">
                                        <span class="title">دسته بندی :</span>
                                        <a href="#">{{ cloth.season }}</a>
                                        <span>,</span>
                                        <a href="#">{{ cloth.gender }}</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-end -->

    <!-- product-details-des-start -->
    <div class="product-details-des mt-40 mb-60">
    <div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="product__details-des-tab">
                <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                type="button" role="tab" aria-controls="review" aria-selected="false">نظرات
                            ({{ cloth.comments.all|only_active_comments|length|translate_number }})
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="product__details-review">
            <div class="row">
                <div class="col-xl-8">
                    <div class="review-des-infod">
                        <ul class="review__list">
                            {% for comment in cloth.comments.all|only_active_comments %}
                                <li class="review__item">
                                    <div class="review__container">
                                        <div class="review__text">
                                            <div class="d-flex flex-sm-row flex-row">
                                                <div>
                                                    <div class="review__meta" dir="ltr">
                                                        <span class="review__published-date">{{ comment.datetime_created|to_jalali:'%Y / %B / %d'}}</span>
                                                        <span class="review__dash">-</span>
                                                        <strong class="review__author px-4">{{ comment.author.username }}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="review__description text-right px-4">
                                                {{ comment.body }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-comment ">
                                    <div class="comment-title mb-20">
                                        <h3>ارسال نظر</h3>
                                    </div>
                                    <div class="comment-input-box">
                                        <form action="{% url 'comment_create' cloth.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                {{ comment_form|crispy }}
                                                <div class="col-xxl-12">
                                                    <div class="comment-submit">
                                                        <button type="submit" class="btn btn-success mt-3">ارسال
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product-details-des-end -->

{% endblock %}
</html>