{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load %}
{% load persian_number_translate %}

{% block page_title %} order create {% endblock %}
{% block content %}
    <div id="page-content">
        {% translate 'Order Create' as header_name_for_order_create %}
        {% include 'topheader.html' with header_name=header_name_for_order_create %}
        <!--Main Content-->
        <div class="container">
            <div class="row billing-fields">
                <div class="col-lg-6 col-md-12 col-sm-12 mb-3 mb-lg-0">
                    <div class="create-ac-content">
                        <form method="post" action="{% url 'orders:order_create' %}" id="order">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="your-order-payment">
                        <div class="your-order">
                            <h2 class="order-title mb-3">{% trans 'order details' %}</h2>
                            <div class="table-responsive order-table style2">
                                <table class="bg-white table table-bordered align-middle table-hover text-center mb-1">
                                    <thead>
                                    <tr>
                                        <th class="text-start">{% trans 'title' %}</th>
                                        <th>{% trans 'price' %}</th>
                                        <th>{% trans 'size' %}</th>
                                        <th>{% trans 'quantity' %}</th>
                                        <th>{% trans 'total price' %}</th>
                                        {% for item in cart %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-start">
                                                    <a href="product-layout1.html">{{ item.cloth_obj.title }}</a>
                                                    <div class="cart__meta-text">
                                                        <br>{% trans 'size' %} : {{ item.size }}<br>
                                                    </div>
                                                </td>
                                                <td>{{ item.cloth_obj.price }}</td>
                                                <td>{{ item.size }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.total_price|translate_number }} {% trans '$' %}</td>
                                            </tr>
                                            </tbody>
                                        {% endfor %}
                                    <tfoot class="font-weight-600">
                                    <tr>
                                        <td colspan="4" class="text-start fw-bolder">{% trans 'total' %}</td>
                                        <td class="fw-bolder">{{ cart.get_total_price|translate_number }} {% trans '$' %}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="your-payment">
                            <button class="fs-6 btn btn-lg rounded w-100 fw-600 text-white" form="order">{% trans 'order create' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>

{% endblock %}