{% load static %}

<!--Footer-->
    <div class="footer footer-4">
        <div class="footer-top clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">اطلاعات</h4>
                        <ul>
                            <li><a href="my-account.html">حساب من</a></li>
                            <li><a href="aboutus-style1.html">درباره ما</a></li>
                            <li><a href="login.html">ورود به سیستم</a></li>
                            <li><a href="privacy-policy.html">خط مشی رازداری</a></li>
                            <li><a href="#">شرایط و ضوابط</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">فروشگاه سریع</h4>
                        <ul>
                            <li><a href="#">زنان</a></li>
                            <li><a href="#">مردان</a></li>
                            <li><a href="#">کودکان</a></li>
                            <li><a href="#">لباس ورزشی</a></li>
                            <li><a href="#">فروش</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">خدمات مشتری</h4>
                        <ul>
                            <li><a href="#">اطلاعات شخصی را درخواست کنید</a></li>
                            <li><a href="faqs-style1.html">سؤالات متداول</a></li>
                            <li><a href="contact-style1.html">با ما تماس بگیرید</a></li>
                            <li><a href="#">سفارش‌ها و بازگشت‌ها</a></li>
                            <li><a href="#">مرکز پشتیبانی</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 social-icons-col">
                        <h4 class="h4">در ارتباط بمانید</h4>
                        <ul class="d-flex flex-column">
                            <li><a href="#" class="d-flex-center"><i class="an an-facebook" aria-hidden="true"></i>
                                <span>فیس بوک</span> </a></li>
                            <li><a href="#" class="d-flex-center"><i class="an an-twitter" aria-hidden="true"></i>
                                <span>تویتر</span> </a></li>
                            <li><a href="#" class="d-flex-center"><i class="an an-pinterest-p" aria-hidden="true"></i>
                                <span>پینترست</span></a></li>
                            <li><a href="#" class="d-flex-center"><i class="an an-instagram" aria-hidden="true"></i>
                                <span>اینستاگرام</span> </a></li>
                            <li><a href="#" class="d-flex-center"><i class="an an-whatsapp" aria-hidden="true"></i>
                                <span>واتساپ</span> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom clearfix">
            <div class="container">
                <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                    <img src="{% static 'images/payment.png' %}" alt="Paypal Visa Payments"/>
                    <div class="copytext">&copy; 2023 بهینه. تمامی حقوق محفوظ است.</div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer-->