{% load static %}
{% load i18n %}

<!--Footer-->
<div class="footer footer-4">
    <div class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">اطلاعات</h4>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile_update' %}"
                                   class="site-nav">{% trans 'Profile' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                        {% endif %}
                        <li><a href="{% url 'about_us' %}">{% trans "About Us" %}</a></li>
                        <li><a href="{% url 'cloths_list' %}">{% trans "All Products" %}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">فروشگاه سریع</h4>
                    <ul>
                        <li><a href="{% url 'male_list' %}">{% trans "Male Products" %}</a></li>
                        <li><a href="{% url 'female_list' %}">{% trans "Female Products" %}</a></li>
                        <li><a href="{% url 'highest_selling' %}">{% trans "Highest selling of the past month" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                    <h4 class="h4">خدمات مشتری</h4>
                    <ul>
                        <li><a href="#">اطلاعات شخصی را درخواست کنید</a></li>
                        <li><a href="faqs-style1.html">سؤالات متداول</a></li>
                        <li><a href="contact-style1.html">با ما تماس بگیرید</a></li>
                        <li><a href="#">سفارش‌ها و بازگشت‌ها</a></li>
                        <li><a href="#">مرکز پشتیبانی</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 social-icons-col">
                    <h4 class="h4">در ارتباط بمانید</h4>
                    <ul class="d-flex flex-column">
                        <li><a href="https://instagram.com/hooman_zoh" class="d-flex-center"><i class="an an-instagram"
                                                                                                aria-hidden="true"></i>
                            <span>اینستاگرام</span> </a></li>
                        <li><a href="https://x.com/its_hooman_?s=35" class="d-flex-center"><i class="an an-twitter"
                                                                                              aria-hidden="true"></i>
                            <span>توییتر</span> </a></li>
                        <li><a href="https://t.me/Hooman_zoh" class="d-flex-center"><i class="an an-telegram-plane"
                                                                                       aria-hidden="true"></i>
                            <span>تلگرام : 09361958721</span> </a></li>
                        <li><a href="https://wa.me/qr/IXKLPANHHBQUH1" class="d-flex-center"><i class="an an-whatsapp"
                                                                                               aria-hidden="true"></i>
                            <span>واتساپ : 09361958721</span> </a></li>
                        <li><a href="https://github.com/Hoomanzoh79" class="d-flex-center">
                            <img width="50" height="40"
                                 src="{% static 'images/github-logo-vector.png' %}" alt="گیت هاب من"
                                 title="گیت هاب من">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class="container">
            <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                <img src="{% static 'images/payment.png' %}" alt="Paypal Visa Payments"/>
                <div class="copytext">&copy; 2023 بهینه. تمامی حقوق محفوظ است.</div>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->