<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="rtl">
{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load comment_tags %}
{% load cloth_tags %}
{% load persian_number_translate %}
{% load humanize %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %}صفحه ی اصلی{% endblock %}</title>
</head>
<body>
{% block content %}
    <!--Home slider-->
    <section class="slideshow slideshow-wrapper">
        <div class="home-slideshow">
            <div class="slide">
                <div class="lazyload">
                    <img class="lazyload desktop-hide" data-src="{% static 'images/slideshow/demo4-banner1.jpg' %}"
                         src="{% static 'images/slideshow/demo4-banner1.jpg' %}" alt="HIGH CONVERTING"
                         title="HIGH CONVERTING"/>
                    <img class="lazyload mobile-hide" data-src="{% static 'images/slideshow/demo4-banner2.jpg' %}"
                         src="{% static 'images/slideshow/demo4-banner2.jpg' %}" alt="HIGH CONVERTING"
                         title="HIGH CONVERTING"/>
                    <div class=" container">
                        <div class="slideshow-content slideshow-overlay middle-right d-flex justify-content-center align-items-center">
                            <div class="slideshow-content-in text-left">
                                <div class="wrap-caption style1">
                                    <h2 class="h1 mega-title ss-mega-title fs-1 text-capitalize">بهینه زنان<br>فروشگاه
                                        فاشیون</h2>
                                    <span class="mega-subtitle fs-4 ss-sub-title d-md-block d-lg-block d-none">دوستش دارم، احساسش کن، از آن لذت ببر</span>
                                    <div class="ss-btnWrap mt-3 mt-md-4 d-block">
                                        <a class="btn btn-lg btn-primary" href="shop-top-filter.html">خرید مجموعه</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload desktop-hide"
                         data-src="{% static 'images/slideshow/demo4-banner2.jpg' %}"
                         src="{% static 'images/slideshow/demo4-banner2.jpg' %}" alt="MAKING BRAND VISIBLE"
                         title="MAKING BRAND VISIBLE"/>
                    <img class="blur-up lazyload mobile-hide"
                         data-src="{% static 'images/slideshow/demo4-banner2.jpg' %}"
                         src="{% static 'images/slideshow/demo4-banner2.jpg' %}" alt="MAKING BRAND VISIBLE"
                         title="MAKING BRAND VISIBLE"/>
                    <div class="slideshow-content slideshow-overlay middle-left container d-flex justify-content-center align-items-center">
                        <div class="slideshow-content-in text-left">
                            <div class="wrap-caption style1">
                                <p class="ss-small-title fs-4 mb-1 d-md-block d-lg-block d-none">پیشنهاد ویژه</p>
                                <h2 class="mega-title ss-mega-title fs-1 text-capitalize">پاکسازی نهایی<br>تا 70% تخفیف
                                </h2>
                                <div class="ss-btnWrap mt-3 mt-md-4 d-block">
                                    <a class="btn btn-lg btn-primary" href="shop-top-filter.html">برترین های زنانه</a>
                                    <a class="btn btn-lg btn-primary" href="shop-top-filter.html">پایین زنان</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!--End Home slider-->

    <!--Store Feature-->
    <section class="store-features style2">
        <div class="container">
            <div class="row store-info">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex align-items-right mb-2 mb-md-0">
                    <i class="an an-free-delivery"></i>
                    <div class="detail">
                        <h5 class="fs-6 fw-normal text-uppercase mb-0">ارسال رایگان و بازگشت</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center mb-2 mb-md-0">
                    <i class="an an-shield"></i>
                    <div class="detail">
                        <h5 class="fs-6 fw-normal text-uppercase mb-0">پرداخت امن</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex align-items-left mb-2 mb-md-0">
                    <i class="an an-dollar mb-1"></i>
                    <div class="detail">
                        <h5 class="fs-6 fw-normal text-uppercase mb-0 ">ضمانت پول</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Store Feature-->
    <!--Best Seller With Tabs-->
    <section class="section product-slider tab-slider-product">
        <div class="container">
            <div class="section-header">
                <h2>انتخاب ویرایشگر</h2>
            </div>
            <div class="tabs-listing">
                <ul class="tabs clearfix tabs-style3">
                    <li class="active" rel="tab1">زنانه</li>
                    <li rel="tab 2">مردانه</li>
                </ul>
                <div class="container">
                    <div class="tab_container">
                        <div id="tab1" class="tab_content grid-products">
                            <div class="productSlider">
                                <div class="item">
                                    {% for cloth in cloths.all|only_recent_cloths %}
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="{{ cloth.get_absolute_url }}" class="product-img">
                                                <!-- image -->
                                                {% if cloth.cover %}
                                                    <img class="primary blur-up lazyload"
                                                         data-src="{{ cloth.cover.url }}"
                                                         src="{{ cloth.cover.url }}" alt="image" title="">
                                                    <!-- End image -->
                                                    <!-- Hover image -->
                                                    <img class="hover blur-up lazyload"
                                                         data-src="{{ cloth.cover.url }}"
                                                         src="{{ cloth.cover.url }}" alt="image" title="">
                                                    <!-- End hover image -->
                                                    </a>
                                                {% endif %}
                                            <!-- end product image -->

                                            <!--Product Button-->
                                            <div class="button-set style3">
                                                <ul>
                                                    <li>
                                                        <!--Cart Button-->
                                                        <a class="btn-icon btn btn-addto-cart pro-quickshop-popup"
                                                           href="#pro-quickshop1" data-bs-toggle="offcanvas"
                                                           data-bs-target="#pro-quickshop1"
                                                           aria-controls="pro-quickshop1">
                                                            <i class="icon an an-cart-l"></i> <span
                                                                class="tooltip-label left">خرید سریع</span>
                                                        </a>
                                                        <!--end Cart Button-->
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--End Product Button-->
                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name text-uppercase">
                                                <a href="{{ cloth.get_absolute_url }}">{{ cloth.title }}</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div>
                                                <span class="price">{{ cloth.price|translate_number }} {% trans '$' %}</span>
                                            </div>
                                            <!-- End product price -->
                                            <!--Product Review-->
                                            <div class="product-review"><i class="an an-star"></i> <i
                                                    class="an an-star"></i> <i
                                                    class="an an-star"></i> <i class="an an-star"></i> <i
                                                    class="an an-star-o"></i></div>
                                            <!--End Product Review-->
                                        </div>
                                        <!-- End product details -->
                                        </div>
                                        <div class="item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!--Product Button-->
                                            <div class="button-set style3">
                                                <ul>
                                                    <li>
                                                        <!--Cart Button-->
                                                        <a class="btn-icon btn btn-addto-cart pro-addtocart-popup"
                                                           href="#pro-addtocart-popup">
                                                            <i class="icon an an-cart-l"></i> <span
                                                                class="tooltip-label left">افزودن به سبد خرید</span>
                                                        </a>
                                                        <!--end Cart Button-->
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--End Product Button-->
                                        </div>
                                    {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Best Seller With Tabs-->
{% endblock %}
</body>
</html>