{% load static %}
{% load i18n %}

        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"></div>
                <div class="collection-hero__title-wrapper container">
                    <h1 class="collection-hero__title">{{ header_name }}</h1>
                    <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="{% url 'index' %}"
                                                                            title="برگشت به صفحه اصلی">صفحه
                        اصلی</a><span>|</span><span class="fw-bold">{{ header_name }}</span></div>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->